body {
    padding-top: 2rem;
}

.align-bottom {
    display: table-cell;
    vertical-align: bottom;
}

.button {
    color: #ec1f27 !important;
    border-color: #ec1f27;
    background-color: white;
}

.button:hover {
    background-color: #ec1f27;
    color: white !important;
}

.button-outline {
    color: #ec1f27 !important;
    border-color: #ec1f27;
}

.button-outline:hover {
    color: #ec1f27 !important;
}

.full-width {
    width: 100% !important;
}

.red {
    color: #ec1f27;
}
